.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25rem;
    filter: blur(0.4rem);
    user-select: none;
    z-index: -1;

    @media (min-width: 1000px) {
        width: 35rem;
    }
}

.bg-circle
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 20rem;
    height: 20rem;
    filter: blur(10rem);
    opacity: 0.5;
    animation: circle-animation infinite 20s;
    animation: rotate 20s infinite;
}

.bg-circle2
{
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 20rem;
    height: 20rem;
    filter: blur(10rem);
    opacity: 0.5;
    animation: circle-animation2 infinite 20s;
}

#blob {
    background-color: white;
    height: 6rem;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    animation: rotate 20s infinite;
    opacity: 0.8;
    filter: blur(2rem);
    z-index: -1;
    display: none;
    
    @media (min-width: 1000px) {
        display: block;
    }

  }

@keyframes rotate {
    from { 
        rotate: 0deg;
    }
    50%{
        scale: 1 1.15;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes circle-animation {
    0% {
        width: 20rem;
        height: 20rem;
    }
    50% {
        width: 10rem;
        height: 10rem;
    }
    100% {
        width: 20rem;
        height: 20rem;
    }
  }

  @keyframes circle-animation2 {
    0% {
        width: 20rem;
        height: 20rem;
    }
    50% {
        width: 10rem;
        height: 10rem;
    }
    100% {
        width: 20rem;
        height: 20rem;
    }
  }